kbd{
  display: inline-block;
  border: 1px solid red;
  width: 4em;
  height: 4em;
  text-transform: uppercase;
  position: relative;

}
kbd>button{
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
  transition: all 0.3s;
  border-radius: 2px;
}
kbd:hover>button{
  display: inline-block;
}
kbd>button:hover{
  background: rgb(238, 152, 24);
  color:#fff;
}
#kbdNav{
  display: inline-block;
  padding: 20px;
  background: rgba(255,255,255,0.7);
  border-radius: 10px;
}

main {
  margin: 0;
  text-align: center;

  /*绝对居中父元素上的三行代码*/

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  min-width: 800px;
  /*设置最小宽度,防止变形*/

}
#kbdNav>div:nth-child(2){
  margin-left: -30px;

}
#kbdNav>div:nth-child(3){
  margin-left: -112px;
}
/*美化按键*/
.kbd{
  margin: 0;
  padding: 0;
  border:0;
  width: 58px;
  height: 43px;

  /*线性渐变:0-70白色,70-100,fff-f3f3f3渐变*/
  background: linear-gradient(to bottom, #fff 0%,#fff 70%,#f3f3f3 100%);
  border-radius: 7px;

  box-shadow: 0 5px 0 0 #767d81;
  color: #767D81;
  font-family: Helvetical;


  vertical-align: top;
  position: relative;
}
.kbd_wrapper{
  display: inline-block;
  vertical-align: top;

  width: 58px;
  height: 48px;
  border-radius: 7px;
  margin: 0 5px;

  box-shadow: 0 4px 3px 0 #3C3C3D,0 0 1px 0 #3C3C3D;
}
#keyboardNavigator>div{
  margin: 10px 0;
}

kbd img{
  width: 16px;
  height: 16px;
  position: absolute;
  left: 7px;
  bottom: 4px;
}
kbd .text{
  position: absolute;
  left: 7px;
  top: 4px;
}
.kbd_wrapper:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake{
  10%, 90% {
      transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
      transform: translate3d(2px, 0, 0);
  }
  
  30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
      transform: translate3d(4px, 0, 0);
  }
}

